<%- include('../partials/header') %>

<h1>Recipes</h1>
<body>
    <% recipes.forEach(function(r) { %>
    <h5><%= r.title %></h5>
    <%- r.body %><br>
    By <%= r.user.name %><br>
    <a href="/recipes/show/<%=r._id%>">View Recipe</a><br>
    <br>
    <% }); %>
</body>
    
  
<%- include('../partials/footer') %>
