<%- include('../partials/header') %>

<div>
    <h3><%= title %></h3>
</div>
<div>
    <p><%= body %></p>
    Submitted on <%= date %><br>
    By <%= user.name %><br><br>
</div>

    
  
<%- include('../partials/footer') %>
